<p id="notice"><%= notice %></p>

<h1>Campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Percent raised</th>
      <th>Amount raised</th>
      <th>Target amount</th>
      <th>Sector</th>
      <th>Country</th>
      <th>Invest multiple</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= campaign.image %></td>
        <td><%= campaign.percent_raised %>%</td>
        <td>£<%= campaign.amount_raised %></td>
        <td>£<%= campaign.target_amount %></td>
        <td><%= campaign.sector %></td>
        <td><%= campaign.country %></td>
        <td><%= campaign.invest_multiple %></td>
        <td><%= link_to 'Campaign Investment Page', campaign %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @campaigns %>
